.App {
  text-align: center;
}
/* src/App.css */
.home-container {
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 50px;
}

.home-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.home-container button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}
